.page {

  font-family: $font-family;
  color: $text-color;
  margin: 0;
  padding: 0;

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background:
      linear-gradient(15deg, transparent 65%, #f4e200 100%),
      url(../img/back.png) repeat left bottom,
      linear-gradient(15deg, #f4e200, #edae00);

    @media (min-width: $screen-sm) {
      flex-direction: row;
      justify-content: center;
      align-items: start;
      flex-wrap: wrap;
      background:
        linear-gradient(15deg, transparent 50%, #f4e200 80%),
        url(../img/back.png) repeat left bottom,
        linear-gradient(15deg, #f4e200, #edae00);
    }
  }

  &__header {
    margin: 20px 0 0;
    padding: 0;
    text-align: center;
    font-family: Bender, Arial, sans-serif;
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;

    @media (min-width: $screen-xs) {
      font-size: 32px;
    }

    @media (min-width: $screen-sm) {
      width: $screen-sm;
      margin-top: 30px;
      text-align: left;
      font-weight: 400;
      text-transform: none;
      font-size: 36px;
    }

    @media (min-width: $screen-lg) {
      width: $screen-lg;
      margin-top: 40px;
      font-size: 58px;
    }

    span {
      display: none;

      @media (min-width: $screen-sm) {
        display: inline-block;
      }
    }

    &-xs-date {
      order: 3;
      margin: 5px 0 10px;
      font-family: Bender, Arial, sans-serif;
      font-weight: 800;
      text-transform: uppercase;
      color: $warning-color;
      font-size: 24px;

      @media (min-width: $screen-xs) {
        margin: 10px 0 15px;
        font-size: 28px;
      }

      @media (min-width: $screen-sm) {
        display: none;
      }
    }
  }

  &__content {
    order: 5;
  }
}
