.programm {
  position: relative;
  width: $screen-xxs;
  background-color: #fff;
  padding: 10px 10px 40px;

  @media (min-width: $screen-xs) {
    width: $screen-xs;
    padding: 15px 15px 50px;
  }

  @media (min-width: $screen-sm) {
    width: calc(#{$screen-sm} - 320px);
    padding: 25px 18px 80px;
  }

  @media (min-width: $screen-lg) {
    width: calc(#{$screen-lg} - 530px);
    padding: 50px 25px 90px;
  }

  &__head {
    font-size: 22px;
    margin-bottom: 15px;
    text-transform: uppercase;

    @media (min-width: $screen-xs) {
      font-size: 30px;
    }

    @media (min-width: $screen-sm) {
      position: absolute;
      display: block;
      left: -305px;
      top: 145px;
      width: 305px;
      font-size: 22px;
    }

    @media (min-width: $screen-lg) {
      left: -500px;
      top: 270px;
      width: 500px;
      font-size: 42px;
    }
  }

  &__paragraph {
    font-size: 14px;
    padding-bottom: 8px;

    @media (min-width: $screen-xs) {
      font-size: 18px;
    }

    @media (min-width: $screen-sm) {
      font-size: 20px;
      padding-bottom: 12px;
    }

    @media (min-width: $screen-lg) {
      font-size: 24px;
      padding-bottom: 20px;
    }

    em {
      font-style: normal;
      color: $warning-color;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__list-item {
    position: relative;
    font-size: 14px;
    padding-left: 14px;
    padding-bottom: 8px;

    @media (min-width: $screen-xs) {
      font-size: 18px;
      padding-left: 18px;
    }

    @media (min-width: $screen-sm) {
      font-size: 20px;
      padding-left: 20px;
    }

    @media (min-width: $screen-lg) {
      font-size: 20px;
      padding-left: 20px;
    }

    &::before {
      content: '►';
      display: block;
      position: absolute;
      left: 0;
      padding-top: 3px;
      font-family: Arial, sans-serif;
      font-size: 0.75em;
    }
  }
}
