.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: $screen-xxs;

  @media(min-width: $screen-xs) {
    width: $screen-xs;
    margin-bottom: 5px;
  }

  &__text {
    text-transform: uppercase;
    font-family: 'Bender', Arial, sans-serif;
    font-weight: 800;
    line-height: 1em;
    font-size: 32px;
    @media(min-width: $screen-xs) {
      font-size: 36px;
    }

    &-bigger {
      display: block;
      font-size: 1.2em;
    }

    &-sign {
      display: inline-block;
      background-color: #f4e200;
      transform: translateX(-100%);
    }
  }


  &__img {
    height: 110px;
    width: auto;
    margin-right: 5px;
    @media(min-width: $screen-xs) {
      height: 120px;
      margin-right: 10px;
    }

    img {
      height: 100%;
      width: auto;
    }
  }
}