include ../pug/mixins.pug

doctype html
html(class='page  no-js', lang='ru')

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    link(rel="apple-touch-icon", sizes="72x72", href="img/favicon/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="img/favicon/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="img/favicon/favicon-16x16.png")
    link(rel="manifest", href="img/favicon/site.webmanifest")
    link(rel="mask-icon", href="img/favicon/safari-pinned-tab.svg", color="5bbad5")
    meta(name="msapplication-TileColor", content="#ffc40d")
    meta(name="theme-color", content="#ffffff")
    link(rel='stylesheet', href='css/style.css')
    title Человек против системы | Сайт в разработке
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    script.
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

  body
    noscript У вас отключен JavaScript. Это пугает.
    header
      h2.page__header Сайт в разработке. #[span Открытие — май 2020]
    .sr
      .sr__wrap
        .sr__text Справедливая Россия
        .sr__logo
          img(src='img/SR_logo.svg', alt='')
    .title
      .title__img
        img(src='img/qr.webp', alt='')
      h1.title__text Человек #[span.title__text-bigger против] системы#[span.title__text-sign !]
    .page__header-xs-date Открытие — май 2020
    .page__content
      .programm
        .programm__head Проект для тех, кто&nbsp;готов стать&nbsp;депутатом и&nbsp;изменить систему!
        .programm__paragraph #[em 1. Человек против системы]&nbsp;— проект партии «Справедливая Россия» по формированию состава кандидатов в&nbsp;депутаты и&nbsp;подготовке программы партии в&nbsp;Новосибирской области в&nbsp;2020&nbsp;году.
        .programm__paragraph #[em 2. Человек против системы]&nbsp;— это возможность добиваться решения проблем своей территории уже сегодня.
        .programm__paragraph #[em 3. Человек против системы]&nbsp;— это технология победы на выборах для конкретного человека:
        ul.programm__list
          li.programm__list-item подготовка материалов для избирательной кампании, старт информационной кампании в&nbsp;интернете;
          li.programm__list-item формирование списка сторонников, готовых проголосовать за вас;
          li.programm__list-item выдвижение от&nbsp;партии «Справедливая Россия» в&nbsp;Законодательное собрание и&nbsp;муниципальные органы власти Новосибирской области.
