@font-face {
  font-family: 'Bender';
  src: url('../fonts/bender.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Bender';
  src: url('../fonts/benderblack.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: block;
}


@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/gothampro-medium.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/gothampro-bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/gothampro-black.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: block;
}